<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Compiled and minified CSS -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Gender Predictor</title>
    <style>
      body {
        background-color: #e9e5ef;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
​
  <body>
    <section class="text-gray-700 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-2/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
          <h1
            class="font-bold mt-24 lg:mt-0 font-medium text-5xl text-gray-600"
          >
            Gender Predictor
          </h1>
          <p class="leading-relaxed mt-4 text-xl text-gray-500">
            Predict your gender by providing your Height and Weight.
          </p>
        </div>
        <form method="post" action="">
          <div
            class="lg:w-5/6 md:w-1/2 bg-gray-800 rounded-lg p-8 flex flex-col text-xl md:ml-auto w-full mt-10 md:mt-0"
          >
            <div class="relative mb-4">
              <label
                for="height"
                class="leading-7 font-bold text-sm text-gray-100"
                >Height(Inches)</label
              >
              <input
                type="number"
                id="height"
                name="height"
                class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              />
            </div>
            <div class="relative mb-4">
              <label
                for="weight"
                class="leading-7 text-sm font-bold text-gray-100"
                >Weight(lbs)</label
              >
              <input
                type="number"
                id="weight"
                name="weight"
                class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              />
            </div>
            <input
              class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
              type="submit"
              value="Predict"
            />
          </div>
        </form>
        <br />
        <div class="mt-10 mr-4">
          <div class="">
            {% if result == "Male" %}
            <p class="text-5xl text-gray-500 font-bold">
              The person is a <span class="text-indigo-500">{{result}}</span>
            </p>
            {% else %}
            <p class="text-5xl text-gray-500 font-bold">
              The person is a <span class="text-pink-500">{{result}}</span>
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </body>
</html>